{% extends 'base.html.twig' %}

{% block title %}Comics Blog!{% endblock %}

{% block body %}

<img src="/img/comics-blog.png" height="200px">

<div class="example-wrapper">
    <h1>Bienvenue sur Comics Blog !✅</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus, ligula sit amet elementum elementum, leo eros vestibulum dui, sit amet aliquet tortor tortor eu velit. Donec et arcu dapibus ante hendrerit tristique. Fusce eget bibendum urna. Phasellus sit amet laoreet tellus. Nunc ac lectus sem. Morbi consequat neque varius augue euismod, a fringilla nunc auctor. Nulla vestibulum nibh sed ligula rhoncus, eu tempor ipsum pharetra. Nullam odio sem, ultricies eu tellus non, malesuada suscipit elit. Nullam interdum nulla sit amet tellus pulvinar, eget dignissim ipsum aliquam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

Vestibulum cursus hendrerit sem et rhoncus. Duis sed arcu facilisis, euismod mi vitae, eleifend massa. Aenean eget quam nec leo imperdiet facilisis et nec orci. Maecenas gravida lacus sed fermentum tincidunt. Nulla quis egestas ligula. Sed arcu diam, condimentum a tincidunt sollicitudin, imperdiet ut mauris. Morbi eleifend aliquam fringilla. Vivamus ut rhoncus neque.

Donec scelerisque tempor sagittis. Mauris dictum sagittis risus, id tempor lorem laoreet in. Sed interdum diam id bibendum fermentum. Quisque lacinia nisl vehicula tempus pretium. Cras ac interdum augue. Vivamus in cursus massa. Phasellus imperdiet condimentum faucibus. Aenean eget dui eget lorem viverra varius. Ut commodo lectus eget metus ornare, at sodales nisl imperdiet. Cras erat risus, fringilla sed aliquam id, scelerisque at eros. Mauris eu elit suscipit, varius magna sed, consectetur purus. Nunc commodo nulla a tincidunt sagittis. Duis quam libero, posuere at neque in, varius accumsan risus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed tristique consequat auctor.

Duis tristique ligula in consequat accumsan. Suspendisse eu congue nibh. Vivamus consectetur metus et nisl semper, ut blandit urna hendrerit. Nam finibus felis sit amet euismod semper. Ut fermentum nulla vitae nisi vulputate, sit amet faucibus nisl rutrum. Nam neque odio, pulvinar a metus in, feugiat feugiat nisl. In id luctus orci. Donec iaculis velit eget nunc ultricies interdum. Fusce cursus porta commodo. Nunc sagittis vel nisl id egestas. Cras iaculis sit amet diam ut auctor. Maecenas id lectus eu tellus aliquam mollis. Donec ut diam dictum, elementum justo ac, fermentum metus. Sed ligula quam, vulputate id urna eget, ultricies aliquet nisl. Duis eu mauris vitae est dignissim semper sed sit amet ligula.

Sed pellentesque lorem varius elit maximus condimentum. Curabitur porta nisl ac rhoncus placerat. Mauris eleifend et est in dictum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas metus ex, cursus nec sem in, sagittis vulputate erat. Donec sagittis nunc quis neque aliquet convallis. Ut congue diam tortor, ornare pulvinar enim tempor et.</p>
   
</div>
{% endblock %}
