<footer class="footer-dark bg-dark">
    <div class="container">
        <div class="network-container">
            <span>Networks</span>
            <ul>
                <li><i class="fab fa-twitter">&nbsp;Twitter</i></li>
            </ul>
        </div>
    </div>
</footer>
