{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}

    <h1>Créer un nouveau compte</h1>

    {{ include('user/_form.html.twig') }}
{#    <a href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt">&nbsp;connexion</i></a>#}

{% endblock %}
